body{
	font-family: Helvetica;
}

table{
	border-spacing: 0px;
}


td{
	border-top: 1px solid #ddd;
}


th, td{
	text-align: left;	
	padding-right: 20px;
	font-size: medium;
	line-height: 30px;
}

.text-input{
	border: 1px solid #ccc;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	vertical-align: middle;
	line-height: 20px;
	border-radius: 4px;
	transition: border linear .2s,box-shadow linear .2s;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	background-color: #fff;
}

select {
  width: 184px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dropdown-input{
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #555;
	vertical-align: middle;
	  border-radius: 4px;
}

label{
	display: inline-block;
	padding-bottom: 10px;
}

#key_creation{
	display: none;
}

#key_table{
	display: none;
}

#no_friends{
	display:none;
}

#friend_list{
	display:none;
}

